{<<"links">>,[{<<"Github">>,<<"https://github.com/EvgeniyBV/y_ex">>}]}.
{<<"name">>,<<"y_ex_ebv">>}.
{<<"version">>,<<"0.10.6">>}.
{<<"description">>,<<"Elixir wrapper for Yjs">>}.
{<<"elixir">>,<<"~> 1.15">>}.
{<<"app">>,<<"y_ex">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"files">>,
 [<<"lib">>,<<"lib/undo_manager.ex">>,<<"lib/server">>,
  <<"lib/server/doc_server.ex">>,<<"lib/server/doc_server_worker.ex">>,
  <<"lib/nif.ex">>,<<"lib/protocols">>,<<"lib/protocols/shared_doc.ex">>,
  <<"lib/protocols/sync.ex">>,<<"lib/protocols/awareness.ex">>,
  <<"lib/y_ex.ex">>,<<"lib/doc.ex">>,<<"lib/sticky_index.ex">>,
  <<"lib/subscription.ex">>,<<"lib/shared_type">>,
  <<"lib/shared_type/error.ex">>,<<"lib/shared_type/array.ex">>,
  <<"lib/shared_type/map.ex">>,<<"lib/shared_type/xml_fragment.ex">>,
  <<"lib/shared_type/weak.ex">>,<<"lib/shared_type/event.ex">>,
  <<"lib/shared_type/text.ex">>,<<"lib/shared_type/shared_type.ex">>,
  <<"lib/shared_type/xml_element.ex">>,<<"lib/shared_type/xml.ex">>,
  <<"lib/shared_type/xml_text.ex">>,<<"native/yex/src">>,
  <<"native/yex/src/yinput.rs">>,<<"native/yex/src/awareness.rs">>,
  <<"native/yex/src/youtput.rs">>,<<"native/yex/src/lib.rs">>,
  <<"native/yex/src/text.rs">>,<<"native/yex/src/xml.rs">>,
  <<"native/yex/src/any.rs">>,<<"native/yex/src/shared_type.rs">>,
  <<"native/yex/src/utils.rs">>,<<"native/yex/src/error.rs">>,
  <<"native/yex/src/sync.rs">>,<<"native/yex/src/weak.rs">>,
  <<"native/yex/src/array.rs">>,<<"native/yex/src/wrap.rs">>,
  <<"native/yex/src/sticky_index.rs">>,<<"native/yex/src/term_box.rs">>,
  <<"native/yex/src/transaction.rs">>,<<"native/yex/src/undo.rs">>,
  <<"native/yex/src/subscription.rs">>,<<"native/yex/src/atoms.rs">>,
  <<"native/yex/src/event.rs">>,<<"native/yex/src/doc.rs">>,
  <<"native/yex/src/map.rs">>,<<"native/yex/Cargo.lock">>,
  <<"native/yex/Cargo.toml">>,<<"native/yex/Cross.toml">>,
  <<"native/yex/README.md">>,<<"README.md">>,
  <<"checksum-Elixir.Yex.Nif.exs">>,<<"mix.exs">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"rustler">>},
   {<<"app">>,<<"rustler">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<">= 0.0.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"rustler_precompiled">>},
   {<<"app">>,<<"rustler_precompiled">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<">= 0.6.0">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
